.DS_STORE
.haxelib/
.vs/
APIStuff.hx
dump/
export/release/*
export/debug/*
RECOVER_*.fla
shitAudio/
.build_time
.swp

# Exclude JS stuff
node_modules/
package.json
package-lock.json
.aider*

# Xcode project
!export/release/ios/
